@font-face {
  font-family: "monument-extended";
  src: url("./fonts/MonumentExtended-Regular.otf");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "monument-extended";
  src: url("./fonts/MonumentExtended-Ultrabold.otf");
  font-style: bold;
  font-weight: 600;
}
.wrapper {
  max-width: 1125px;
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  margin-left: auto;
  margin-right: auto;
}
.wrapper-footer {
  position: static;
  max-width: 1125px;
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  margin-left: auto;
  margin-right: auto;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  background-color: #f2f0f2;
  font-family: monument-extended;
  margin: 0;
  padding: 0;
}
subhead {
  color: RGBA(112, 112, 112, 0.54);
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}
h1 {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 5rem;
  font-family: monument-extended;
  font-weight: normal;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #e1cae6;
  font-size: 4rem;
}
h2 {
  color: #707070;
  margin-top: -0.2rem;
  padding: 0;
  inline-size: 100%;
}
.button {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #e1cae6;
  transition: all 250ms ease;
  text-align: center;
  text-decoration: none;
  color: #707070;
  border-radius: 2rem;
  font-family: monument-extended;
  font-weight: normal;
}
.button:hover,
.button:focus {
  background-color: #e1cae6;
}

.button--border:hover,
.button--border:focus {
  background-color: transparent;
  box-shadow: 0 0 0 1px #e1cae6;
}
.button--blur {
  border-color: transparent;
  background-color: rgb(255 255 255 / 0.54);
  -webkit-backdrop-filter: blur(10px);
}
.header {
  margin-bottom: 0;
  padding: 1rem;
  background-color: #fff;
}

.header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
}
.header-nav-trigger {
  display: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  padding: 1rem;
  color: #e1cae6;
}
.header-nav-trigger:active,
.header-nav-trigger:focus {
  color: #f8f6f8;
}

.nav a {
  color: #707070;
  font-weight: normal;
  display: block;
  padding: 0.8rem 1.5rem;
  border-radius: 2rem;
  text-decoration: none;
  background-color: transparent;
  position: relative;
}
.nav a::after {
  content: "";
  position: absolute;
  left: 1.5rem;
  bottom: 5px;
  width: calc(100% - 3rem);
  height: 2px;
  background: #e1cae6;
  opacity: 0;
  transform: translateY(-5px) scaleY(0);
  transition: all 250ms ease;
}
.nav a:hover::after,
.nav a:focus::after {
  transform: translateY(0) scaleY(1);
  opacity: 1;
}
#nav-logo {
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #e1cae6;
}
#nav-logo:hover,
#nav-logo:focus {
  -webkit-text-stroke-width: 1.3px;
}
#nav-contact {
  border-style: solid;
  border-color: #e1cae6;
  border-width: 2px;
}
.right-hero-visual {
  display: none;
}
//.left-hero-visual {
//  position: relative;
//  top: 8rem;
//  float: left;
//  width: 250px;
//  height: 340px;
//  background-image: url("images/reviews.png");
//  background-size: cover;
//}
.hero-background-image {
  background-image: url("images/hero-background.png");
  width: 50%;
  min-height: 40em;
  margin: 5em auto;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50px;
  background-position: center;
  padding: 2rem;
  position: relative;
}
.hero-background-image h2 {
  margin: 0em;
  height: 2em;
}
.hero-background-image subhead {
  margin: 0em;
  height: 2em;
}
.hero-background-image .button {
  position: absolute;
  bottom: 20rem;
  left: 50%;
  transform: translateX(-50%);
}

.project-page {
  background-image: url("images/project-background.png");
  max-width: 100%;
  min-height: 40em;
  margin: -10em 0;
  background-size: cover;
  padding: 0rem;
  position: relative;
  bottom: 10rem;
  background-position: cennter;
}
.project-page subhead,
.main-project-page subhead {
  padding-top: 40px;
  display: flex;
  justify-content: center;
}
h3 {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 2rem;
  color: #707070;
}
.project-thumbnail {
  position: relative;
  background-color: white;
  border-radius: 1.5em;
  margin-top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  box-shadow: 0px 3px 5px rgb(111 120 150 / 0.4);
}
.project-thumbnail--dashboard {
  position: relative;
  background-color: white;
  border-radius: 1.5em;
  margin-top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  box-shadow: 0px 3px 5px rgb(111 120 150 / 0.4);
}
.button--hover::after {
  content: "Cornerstone Athens Church";
  color: #707070;
  font-size: 0.7em;
  position: absolute;
  bottom: 46%;
  left: 37vw;
  transform: translateX(-50%);
  height: 10px;
  opacity: 0;
  transform: translateY(-5px) scaleY(0);
  transition: all 500ms ease;
}
.button--hover:hover::after,
.button--hover:focus::after {
  transform: translateY(0) scaleY(1);
  opacity: 1;
}
.button--hover--minimal::after {
  content: "MINIMAL";
  color: #707070;
  font-size: 0.7em;
  position: absolute;
  bottom: 14%;
  left: 26.6%;
  height: 10px;
  opacity: 0;
  transform: translateY(-5px) scaleY(0);
  transition: all 500ms ease;
}
.button--hover--minimal:hover::after,
.button--hover--minimal:focus::after {
  transform: translateY(0) scaleY(1);
  opacity: 1;
}
.button--hover--grainy::after {
  content: "GRAINY";
  color: #707070;
  font-size: 0.7em;
  position: absolute;
  bottom: 14%;
  left: 65.4%;
  height: 10px;
  opacity: 0;
  transform: translateY(-5px) scaleY(0);
  transition: all 500ms ease;
}
.button--hover--grainy:hover::after,
.button--hover-grainy:focus::after {
  transform: translateY(0) scaleY(1);
  opacity: 1;
}
.button--hover--rugged::after {
  content: "DISTRESSED";
  color: #707070;
  font-size: 0.7em;
  position: absolute;
  bottom: 20%;
  left: 20%;
  height: 10px;
  opacity: 0;
  transform: translateY(-5px) scaleY(0);
  transition: all 500ms ease;
}
.button--hover--rugged:hover::after,
.button--hover--rugged:focus::after {
  transform: translateY(0) scaleY(1);
  opacity: 1;
}

h4 {
  margin-top: 8em;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1rem;
  color: #707070;
}
#project-sub {
  font-size: 0.6em;
  padding: 0;
  margin-top: 0;
}

#button-project {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 17%;
  padding: 7.5px 15px;
  font-size: 0.8em;
}
h5 {
  display: flex;
  justify-content: left;
  font-weight: bold;
  font-size: 2rem;
  color: #707070;
}
label {
  color: RGBA(112, 112, 112, 1);
  font-weight: normal;
  font-size: 0.8rem;
}
input {
  margin-top: 1em;
  margin-bottom: 1em;
  display: block;
  width: 50%;
}
#button-send {
  background-color: transparent;
  position: absolute;
  padding: 7.5px 15px;
  font-size: 0.7em;
  text-align: center;
  margin-top: 1em;
}
.coffee-page {
  display: relative;
  background-image: url("images/coffee-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 2em;
}
h6 {
  margin-top: 4.4em;
  margin-bottom: -7%;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1rem;
  color: #707070;
  background-image: url("images/heart-image.svg");
  background-repeat: no-repeat;
  background-position: cover;
  background-size: 100%;
  padding: 7%;
  padding-top: 3%;
}
#quote {
  text-align: center;
  font-size: 0.5em;
  display: flex;
  justify-content: center;
  margin-bottom: 9%;
}
.main {
  position: relative;
}
#slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  outline: none;
  border-radius: 3px;
}

#slider::-webkit-slider-thumb {
  // -moz-appearance: none;
  // -webkit-appearance: none;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 3;
  position: relative;
  left: -3.3%;
}

#selector {
  height: 104px;
  width: 48px;
  position: absolute;
  bottom: -20px;
  left: 1%;
  transform: translateX(-50%);
  z-index: 2;
}

.selectImg {
  height: 48px;
  width: 48px;
  background-image: url("images/coffee.png");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  position: absolute;
  bottom: 12px;
}

#selectValue {
  width: 48px;
  height: 40px;
  position: absolute;
  top: 0;
  background: #707070;
  border-radius: 4px;
  text-align: center;
  line-height: 45px;
  font-size: 1em;
  font-weight: normal;
  color: #f2f0f2;
}

#selectValue::after {
  content: "";
  border-top: 25px solid #707070;
  border-left: 24px solid #e1cae6;
  border-right: 24px solid #e1cae6;
  position: absolute;
  bottom: -14px;
  left: 0;
}

#bar {
  width: 1%;
  height: 10px;
  background: #707070;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.button--border-donate:hover,
.button--border-donate:focus {
  background-color: transparent;
  box-shadow: 0 0 0 1.5px #f0f2f0;
}
#button-purchase {
  padding: 10.5px 18px;
  background-color: transparent;
  z-index: 4;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  border: 2px solid #f2f0f2;
}

#latteCalculator {
  opacity: 0.8;
  font-weight: normal;
  color: #6bc776;
  display: block;
  margin-top: 1%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  max-width: 57px;
  margin: 1% auto;
}
#latteCalculator::after {
  content: "";
}
.symbol {
  display: flex;
  justify-content: center;
  margin: 0;
}
footer {
  background-color: #f8f6f8;
  margin-top: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.footer-text {
  display: flex;
  justify-content: center;
  font-size: 0.7em;
  color: #707070;
}
.up-arrow {
  margin-bottom: 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
}
.copy {
  margin: 0;
  font-size: 0.5em;
}
footer p {
  color: #707070;
  margin: 0em;
  font-size: 0.7em;
}

.main-project-page {
  background-image: url("images/project-page-background.png");
  min-width: 100%;
  min-height: 40em;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
#project-sub1 {
  font-size: 0.6em;
  padding: 0;
  margin-top: 0;
}
.project-page-sub {
  font-size: 0.7em;
}
.project-page-header {
  margin-top: -1em;
  background-image: url("images/heart-image.svg");
  background-size: contain;
  padding: 0.8em;
  padding-top: 1.5em;
  background-repeat: no-repeat;
  background-position: center;
}
.special {
  margin-bottom: 1em;
}
.project-title {
  color: #707070;
  font-weight: normal;
  margin: 0;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  padding: 0;
  font-size: 0.7rem;
}
.cornerstone-header {
  position: relative;
  margin-top: -14.8%;
  left: 50%;
  transform: translateX(-50%);
  background-color: 707070;
  max-width: 98%;
  height: 11vw;
  border-radius: 18px;
}
.cornerstone-header-image {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 64%;
  height: auto;
  border-radius: 40px;
  z-index: 2;
  margin: 0;
  padding: 0;
  margin-top: -5%;
}
.projects-2020 {
  margin-bottom: 5%;
}
.projects-2021 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20%;
}

.headshot-image {
  display: float;
  float: right;
  width: 300px;
  margin-top: -3em;
  margin-right: -1em;
}

.about-heading {
  font-size: 3em;
  margin-bottom: 0.5em;
}
#about-logo {
  //position: absolute;
  display: inline;
  font-size: 3.5em;
  font-weight: bold;
  margin: 0;
  margin-left: 0.2em;
}
.stat-bar {
  display: float;
  float: left;
  background-image: url("images/about-background.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 285px;
  height: 400px;
  margin-left: 1em;
}
.stat-bar subhead {
  display: flex;
  justify-content: center;
  color: #707070;
  font-size: 1em;
  padding-top: 1em;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.stat-bar--1 {
  top: 10%;
  left: 45%;
  transform: translateX(-50%);
  width: 70%;
  background: #e1cae6;
  padding: 7px;
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
  position: relative;
  border: 0.9px solid #707070;
}
.stat-bar--2 {
  top: 25%;
  left: 43%;
  transform: translateX(-50%);
  width: 65%;
  background: #e1cae6;
  padding: 7px;
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
  position: relative;
  border: 0.9px solid #707070;
}
.stat-bar--3 {
  top: 40%;
  left: 47%;
  transform: translateX(-50%);
  width: 73%;
  background: #e1cae6;
  padding: 7px;
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
  position: relative;
  border: 0.9px solid #707070;
}
.stat-bar--4 {
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  background: #e1cae6;
  padding: 7px;
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
  position: relative;
  border: 0.9px solid #707070;
}

.stat-bar p {
  font-weight: normal;
  font-size: 0.4em;
  color: #707070;
  position: relative;
  left: 10%;
  top: 9%;
  margin: 0;
  padding: 0;
}
#stat-bar-title--1 {
}
#stat-bar-title--2 {
  top: 24%;
}
#stat-bar-title--3 {
  top: 39%;
}
#stat-bar-title--4 {
  top: 54%;
}
.about-text {
  font-family: "Poppins", sans-serif;
  line-height: 1.5em;
  margin: 0;
  margin-left: 20%;
  margin-top: 2em;
  padding: 0;
  color: #707070;
  font-weight: medium;
  font-size: 0.7em;
  inline-size: 600px;
}
.nott-shots {
  letter-spacing: 0.02em;
  text-decoration: none;
  font-weight: bold;
  color: #31b4b4;
}
.kelp-agency {
  letter-spacing: 0.02em;
  text-decoration: none;
  font-weight: bold;
  color: #8bc441;
}
#more {
  display: none;
}
#read-more-button {
}
.clients {
  display: block;
  position: relative;
  margin-top: 10rem;
  margin-bottom: 8%;
}
.main-carousel img {
  max-width: 40%;
  height: auto;
}
.main-carousel {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #e1cae6;
}
.carousel-cell {
  width: 50%;
  margin-right: 10px;
}
.carousel-cell.is-selected {
}

@media (max-width: 676px) {
  h1 {
    // color: red;
  }
  .header {
    margin: 0;
    padding: 0;
  }
  .header .wrapper {
    z-index: 2;
    position: fixed;
    top: 0;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.8);
  }
  #contact-nav-button {
    padding: 0.8em;
    padding-left: 1em;
    padding-right: 1em;
    order: 3;
    font-size: 0.6em;
  }
  #nav-logo {
    order: 2;
    font-size: 1.8em;
  }
  .header-nav-trigger {
    order: 1;
  }
  .nav ul {
    display: none;
  }
  .header-nav-trigger {
    display: block;
    // margin-top: -3%;
  }
  .menu-active {
  }
  h2 {
    font-size: 1em;
  }
  subhead {
    font-size: 0.5em;
  }
  #what-we-mean {
    font-size: 0.8em;
    padding: 0.7em;
    inline-size: 13em;
    margin: 0;
  }
  .hero-background-image {
    width: 90%;
  }
  h5 {
    justify-content: center;
  }
  .contact-page {
  }
  #quote {
    margin-bottom: 25%;
  }
  .project-page {
    background-image: url("images/project-background.png");
    max-width: 100%;
    min-height: 40em;
    margin: -10em auto;
    background-size: cover;
    background-position: center;
    padding: 0rem;
    position: relative;
    bottom: 10rem;
  }
}
